// Base Styles
=pimage($p)
  $url:"../images/#{$p}.jpg"
  height: 310px
  background:
    image: url($url)
    size: cover

body
  font-family: "Open Sans", sans-serif

h1,h2
  color: #ccc
  weight: 300

figure
  margin: auto

.content
  article
    padding: 100px 0
    max-width: 640px
    margin: 0 auto
    text-align: center

img
  max-width: 100%


// Parallax
.bird-box
  position: relative
  height: 650px
  background:
    image: url(../images/bird-bg.jpg)
    size: cover
    position: top center
    attachment: fixed
  overflow: hidden
.logo
  width: 500px
  height: 300px
  background:
    image: url(../images/black-bird-logo.svg)
    position: center
    repeat: no-repeat
  position: absolute
  top: 50%
  left: 50%
  transform: translateX(-50%)
  margin-top: -150px
.fore-bird
  width: 960px
  height: 733px
  background:
    image: url(../images/fore-bird.png)
    repeat: no-repeat
    position: bottom right
  position: absolute
  left: 50%
  transform: translateX(-40%)
  top: 380px
.back-bird
  width: 264px
  height: 298px
  background:
    image: url(../images/back-bird.png)
    position: top left
    repeat: no-repeat
  position: absolute
  left: 20%

// grid
.caption
  text-align: center
  margin: 5px
button
  margin: 10px 10px 30px

.pics
  width: 60%
  margin: auto
  figure
    opacity: 0
    transition: all 2s ease
    position: relative
    transform: translateX(200px)
    overflow: hidden
    @for $i from 1 through 9
      .img#{$i}
        +pimage(model#{$i})
    figcaption
      transition: all 0.2s linear
      position: absolute
      top: 60%
      left: -100%
      background-color: #000
      color: white
    &:hover
      .aa
        background:
          size: 120% 120%
      figcaption
        left: 0
  .animate
    opacity: 1
    transform: translateX(0px)
.summer
  height: 900px
  width: 800px
  border-radius: 50%
  margin: auto
  position: relative
  background:
    image: url(../images/model10.jpeg)
    size: cover
    position: center 0px
    attachment: fixed

  .tint
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    border-radius: 50%
    background-color: rgba(20, 20, 20, 0.7)
    display: flex
    justify-content: center
  .txt
    margin-top: 30%
    color: white
    font-size: 2.8em
    font-weight: 100
    text-align: center
    line-height: 1.8em
    strong
      display: block
      font-size: 1.5em
      span
        color: rgba(255, 255, 255, 0.5)
        font-size: 0.4em
        font-style: italic
    a
      border: 2px solid white
      text-decoration: none
      color: white
      padding: 10px
      &:hover
        color: rgba(255, 255, 255, 0.5)
        border: 4px solid rgba(255, 255, 255, 0.5)
