* {
  box-sizing: border-box; }

h1 {
  color: #ccc;
  weight: 300; }

figure {
  margin: auto; }

.content {
  position: relative;
  background: white;
  margin-bottom: 400px;
  overflow: hidden; }
  .content article {
    padding: 100px 0;
    max-width: 840px;
    margin: 0 auto;
    text-align: center; }
    .content article p {
      width: 80%;
      margin: auto; }

img {
  max-width: 100%; }

.bird-box {
  position: relative;
  height: 100vh;
  background-image: url(../images/bird-bg.jpg);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  overflow: hidden; }

.logo {
  width: 40vw;
  height: 300px;
  background-image: url(../images/black-bird-logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -150px; }

.fore-bird {
  width: 960px;
  height: 733px;
  background-image: url(../images/fore-bird.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  position: absolute;
  left: 50%;
  transform: translateX(-40%);
  top: 380px; }

.back-bird {
  width: 264px;
  height: 298px;
  background-image: url(../images/back-bird.png);
  background-position: top left;
  background-repeat: no-repeat;
  position: absolute;
  left: 20%; }

.caption {
  text-align: center;
  margin: 5px; }

button {
  margin: 30px auto; }

.pics {
  overflow: hidden;
  margin-bottom: 100px; }
  .pics figure {
    opacity: 0;
    transition: all 2s ease;
    transform: translateX(200px); }
    .pics figure .img1 {
      height: 50vh;
      background-image: url("../images/model1.jpg");
      background-size: cover;
      overflow: hidden;
      position: relative; }
      .pics figure .img1 figcaption {
        position: absolute;
        overflow: hidden;
        bottom: 0;
        left: -100vw;
        transition: all 0.5s ease;
        background-color: rgba(0, 0, 0, 0.7);
        color: white; }
      .pics figure .img1:hover {
        transition: all 0.3s ease;
        transform: scale(1.1, 1.1); }
        .pics figure .img1:hover figcaption {
          left: 0;
          right: 0; }
    .pics figure .img2 {
      height: 50vh;
      background-image: url("../images/model2.jpg");
      background-size: cover;
      overflow: hidden;
      position: relative; }
      .pics figure .img2 figcaption {
        position: absolute;
        overflow: hidden;
        bottom: 0;
        left: -100vw;
        transition: all 0.5s ease;
        background-color: rgba(0, 0, 0, 0.7);
        color: white; }
      .pics figure .img2:hover {
        transition: all 0.3s ease;
        transform: scale(1.1, 1.1); }
        .pics figure .img2:hover figcaption {
          left: 0;
          right: 0; }
    .pics figure .img3 {
      height: 50vh;
      background-image: url("../images/model3.jpg");
      background-size: cover;
      overflow: hidden;
      position: relative; }
      .pics figure .img3 figcaption {
        position: absolute;
        overflow: hidden;
        bottom: 0;
        left: -100vw;
        transition: all 0.5s ease;
        background-color: rgba(0, 0, 0, 0.7);
        color: white; }
      .pics figure .img3:hover {
        transition: all 0.3s ease;
        transform: scale(1.1, 1.1); }
        .pics figure .img3:hover figcaption {
          left: 0;
          right: 0; }
    .pics figure .img4 {
      height: 50vh;
      background-image: url("../images/model4.jpg");
      background-size: cover;
      overflow: hidden;
      position: relative; }
      .pics figure .img4 figcaption {
        position: absolute;
        overflow: hidden;
        bottom: 0;
        left: -100vw;
        transition: all 0.5s ease;
        background-color: rgba(0, 0, 0, 0.7);
        color: white; }
      .pics figure .img4:hover {
        transition: all 0.3s ease;
        transform: scale(1.1, 1.1); }
        .pics figure .img4:hover figcaption {
          left: 0;
          right: 0; }
    .pics figure .img5 {
      height: 50vh;
      background-image: url("../images/model5.jpg");
      background-size: cover;
      overflow: hidden;
      position: relative; }
      .pics figure .img5 figcaption {
        position: absolute;
        overflow: hidden;
        bottom: 0;
        left: -100vw;
        transition: all 0.5s ease;
        background-color: rgba(0, 0, 0, 0.7);
        color: white; }
      .pics figure .img5:hover {
        transition: all 0.3s ease;
        transform: scale(1.1, 1.1); }
        .pics figure .img5:hover figcaption {
          left: 0;
          right: 0; }
    .pics figure .img6 {
      height: 50vh;
      background-image: url("../images/model6.jpg");
      background-size: cover;
      overflow: hidden;
      position: relative; }
      .pics figure .img6 figcaption {
        position: absolute;
        overflow: hidden;
        bottom: 0;
        left: -100vw;
        transition: all 0.5s ease;
        background-color: rgba(0, 0, 0, 0.7);
        color: white; }
      .pics figure .img6:hover {
        transition: all 0.3s ease;
        transform: scale(1.1, 1.1); }
        .pics figure .img6:hover figcaption {
          left: 0;
          right: 0; }
    .pics figure .img7 {
      height: 50vh;
      background-image: url("../images/model7.jpg");
      background-size: cover;
      overflow: hidden;
      position: relative; }
      .pics figure .img7 figcaption {
        position: absolute;
        overflow: hidden;
        bottom: 0;
        left: -100vw;
        transition: all 0.5s ease;
        background-color: rgba(0, 0, 0, 0.7);
        color: white; }
      .pics figure .img7:hover {
        transition: all 0.3s ease;
        transform: scale(1.1, 1.1); }
        .pics figure .img7:hover figcaption {
          left: 0;
          right: 0; }
    .pics figure .img8 {
      height: 50vh;
      background-image: url("../images/model8.jpg");
      background-size: cover;
      overflow: hidden;
      position: relative; }
      .pics figure .img8 figcaption {
        position: absolute;
        overflow: hidden;
        bottom: 0;
        left: -100vw;
        transition: all 0.5s ease;
        background-color: rgba(0, 0, 0, 0.7);
        color: white; }
      .pics figure .img8:hover {
        transition: all 0.3s ease;
        transform: scale(1.1, 1.1); }
        .pics figure .img8:hover figcaption {
          left: 0;
          right: 0; }
    .pics figure .img9 {
      height: 50vh;
      background-image: url("../images/model9.jpg");
      background-size: cover;
      overflow: hidden;
      position: relative; }
      .pics figure .img9 figcaption {
        position: absolute;
        overflow: hidden;
        bottom: 0;
        left: -100vw;
        transition: all 0.5s ease;
        background-color: rgba(0, 0, 0, 0.7);
        color: white; }
      .pics figure .img9:hover {
        transition: all 0.3s ease;
        transform: scale(1.1, 1.1); }
        .pics figure .img9:hover figcaption {
          left: 0;
          right: 0; }
  .pics .animate {
    opacity: 1;
    transform: translateX(0px); }

.summer {
  height: 120vh;
  width: 100%;
  border-radius: 30%;
  margin-bottom: 100px;
  position: relative;
  background-image: url(../images/model10.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .summer .tint {
    border-radius: 30%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(20, 20, 20, 0.7);
    display: flex;
    justify-content: center; }
  .summer .txt {
    margin-top: 30vh;
    color: white;
    font-size: 2.8em;
    font-weight: 100;
    text-align: center;
    line-height: 1.8em; }
    .summer .txt strong {
      display: block;
      font-size: 1.5em; }
      .summer .txt strong span {
        color: rgba(255, 255, 255, 0.5);
        font-size: 0.4em;
        font-style: italic; }
    .summer .txt a {
      border: 2px solid white;
      text-decoration: none;
      color: white;
      padding: 10px; }
      .summer .txt a:hover {
        color: rgba(255, 255, 255, 0.5);
        border: 4px solid rgba(255, 255, 255, 0.5); }

.blog {
  margin-top: 200px; }
  .blog .post {
    position: relative;
    background-color: white; }
  .blog .post1 {
    transform: translate(100px, 20px); }
  .blog .post2 {
    z-index: 2; }
  .blog .post3 {
    transform: translate(-100px, 20px); }

@media(max-width: 800px) {
  .summer {
    width: 80vw;
    height: 500px;
    margin: auto; } }

/*# sourceMappingURL=layout1.css.map */
