doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title BlackBird Co.
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/style.css")
    link(rel="icon", type="image/png", href="images/favicon.png")

  body
    .fullmenu
    a().menu
      hr
      hr
      hr
    header.bird-box
      .logo
      .fore-bird
      .back-bird
    section.content.shp

      article

        h1 Clothing Store

        hr

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.

        hr
        br
        h2 THE SHOP
        .pics
          .row.img-row
            figure.columns.four
              .img1(class="aa") 
                .caption
                  figcaption Shop the Look   
                    strong price: 99 $ 
              button(type="button") Add to Cart
            figure.columns.four
              .img2(class="aa") 
                .caption
                  figcaption Shop the Look 
                    strong price: 199 $ 
              button(type="button") Add to Cart
            figure.columns.four
              .img3(class="aa") 
                .caption
                  figcaption Shop the Look 
                    strong price: 59 $ 
              button(type="button") Add to Cart
          .row.img-row
            figure.columns.four
              .img4(class="aa")
                .caption
                  figcaption Shop the Look 
                    strong price: 49 $ 
              button(type="button") Add to Cart
            figure.columns.four
              .img5(class="aa")
                .caption
                  figcaption Shop the Look  
                    strong price: 199 $ 
              button(type="button") Add to Cart
            figure.columns.four
              .img6(class="aa")
                .caption
                  figcaption Shop the Look
                    strong price: 49 $ 
              button(type="button") Add to Cart
          .row.img-row
            figure.columns.four
              .img7(class="aa")
                .caption
                  figcaption Shop the Look
                    strong price: 29 $ 
              button(type="button") Add to Cart
            figure.columns.four
              .img8(class="aa")
                  .caption
                    figcaption Shop the Look
                      strong price: 95 $ 
              button(type="button") Add to Cart
            figure.columns.four
              .img9(class="aa")
                  .caption
                    figcaption Shop the Look
                      strong price: 96 $ 
              button(type="button") Add to Cart
              
        h2 Summer Collection
        hr
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
          hr
          .summer
            .tint
              .txt Kint Dress
                strong <span>from</span> $ 299 
                a(href="") Shop Now
        .blog.row 
          .post.columns.four.post1
            h4 Post title
            img(src="./images/posts/one.jpg")
            p Lorem ipsum dolor sit amet, consectetur adipisicing.
            p: a.button(href="") Read More
          .post.columns.four.post2
            h4 Post title
            img(src="./images/posts/two.jpg")
            p Lorem ipsum dolor sit amet, consectetur adipisicing.
            p: a.button(href="") Read More
          .post.columns.four.post3
            h4 Post title
            img(src="./images/posts/three.jpg")
            p Lorem ipsum dolor sit amet, consectetur adipisicing.
            p: a.button(href="") Read More
    
    footer.row
      .ftr
        .columns.three.fb
          ul
            li
              a(href="") Facebook
            li
              a(href="") Twitter
            li
              a(href="") some site
            li
              a(href="") Instagram
            li
              a(href="") Pinterest
        .columns.three.f2       
          ul
            li
              a(href="") Facebook
            li
              a(href="") Twitter
            li
              a(href="") some site
            li
              a(href="") Instagram
            li
              a(href="") Pinterest
        .columns.six
          p Lorem ipsum dolor sit amet, consectetur adipisicing. Subscribe newsletter
          p: input(type="text",placeholder="email address")
          p: input(type="submit").button-primary
    script(src="./js/jquery-2.1.3.min.js")
    script(src="./js/functions.js")
